.containerJeux {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 8, 94, 0.9164040616246498) 46%,
    rgba(0, 212, 255, 1) 100%
  );
}
.containerJeux-container {
  width: 100%;
  max-width: 1325px;
  margin-top: -400px;
  display: flex;
  flex-direction: column;
}
.contentJeux {
  flex: 1;
}
.titlejeux {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 50px;
}
.zonedejeux {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.colonne {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.case {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #000 solid 1px;
}
.boutonjeux {
  display: flex;
  flex-direction: row;
  border: #000 solid 3px;
  height: 65px;
}
.btn-choix {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.statut {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 570px) {
  .zonedejeux {
    width: 100%;
    height: 420px;
  }
  .statut {
    margin-top: -40%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) && (min-width: 570px) {
  .zonedejeux {
    margin-top: 30px;
    width: 80%;
    height: 490px;
  }
  .statut {
    margin-top: -10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
